body{
    background-image: linear-gradient(rgb(143, 95, 255), rgb(96, 152, 255), rgba(107, 196, 255, 0.644));
    margin: 0;
    height: 100%;
    background-repeat:
    no-repeat;
    background-attachment: fixed;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;
  }


.anim1 {
    font-family: Calibri;
    color: white;
    text-align: center;
    font-size: 76px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

button{
    margin: auto;
    display:block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Calibri;
    font-size: 40px;
    color: rgb(131, 170, 255);
    border: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.849);
}

.topnav {
    background-color: rgba(51, 51, 51, 0.247);
    overflow: hidden;
    font-family: Calibri;
}
  
.topr{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 30px;
}

.topl{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 30px;
}

.bgs {
    font-family: Calibri;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-left: 80px;
    padding-right: 80px;
}